<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% listItem.forEach(function(item){ %>
            <h2>Player ID: <%= item.id %></h2>
            <p> Name: <%= item.name %></p>
            <p> Transform: </p>
            <p> Position: <%= item.position %></p>
            <p> Rotation: <%= item.rotation %></p>
        <% }) %>
    </div>
</body>
</html>